<div class="container">
<h1 class="text-center">Eat Your Burgers!</h1>

<div class="row">
    <ol>
        <li>
           {{#each burger}}
            {{#unless devour}}
             {{> burgers/burger-block devour=true}}
               {{/unless}}
                {{/each}}
          </li>
    </ol>
</div>
      <li>
     {{#each burger}}
       {{#if devour}}
        {{> burgers/burger-block devour=false}}
         {{/if}}
          {{/each}}
      </li>
</ol>
</div>
 <div class="text-center col-lg-4">
      <form class="update-form" action="/" method="POST">
        <div class="form-group">
          <textarea class="form-control" type="text" name="burger_name"></textarea>
        </div>
          <button type="submit" class="btn btn-primary">Devour!</button>
          <p>Would you like to Devour Another Burger?</p>
      </form>
    </div>
    </div>
  </div>