<div class="container">
<h1 class="text-center">Eat Your Burgers!</h1>

<div class="row">
  <div class="col-lg-4">
    <ol>
        <li>
            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="burger" value="true">
              <button type="submit" class="btn btn-success">Eat that Burger!</button>
            </form>
          </li>
    </ol>
</div>
<div class="col-lg-4">
      <li>
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="burger" value="false">
        </form>
      </li>
</ol>
</div>
 <div class="text-center col-lg-4">
      <form class="update-form" action="/" method="POST">
        <div class="form-group">
          <textarea class="form-control" type="text" name="burger_name"></textarea>
        </div>
          <button type="submit" class="btn btn-primary">Devour!</button>
          <p>Would you like to Devour Another Burger?</p>
      </form>
    </div>
    </div>
  </div>